In [1]:
%load_ext sql
%config SqlMagic.autocommit=False # for engines that do not support autommit

In [2]:
%%sql sqlite:///Northwind2016.sqlite

select name from sqlite_master where type = 'table'

Done.

[('dbo.Categories',),
 ('dbo.Suppliers',),
 ('dbo.Orders',),
 ('dbo.OrderDetails',),
 ('dbo.Shippers',),
 ('dbo.Products',),
 ('dbo.CustomerGroupThresholds',),
 ('dbo.Employees',),
 ('dbo.sysdiagrams',),
 ('dbo.Customers',)]

## 20. Categories, and the total products in
each category
For this problem, weâ€™d like to see the total number of
products in each category. Sort the results by the total
number of products, in descending order.

In [23]:
%%sql sqlite:///Northwind2016.sqlite

SELECT cat.CategoryName, COUNT(prod.ProductID) as count
FROM 'dbo.Categories' as cat
join 'dbo.Products' as prod
on prod.CategoryID = cat.CategoryID
GROUP BY 1
ORDER BY 2 DESC

Done.

[('Confections', 13),
 ('Seafood', 12),
 ('Condiments', 12),
 ('Beverages', 12),
 ('Dairy Products', 10),
 ('Grains/Cereals', 7),
 ('Meat/Poultry', 6),
 ('Produce', 5)]