In [1]:
#!pip install ipython-sql

In [2]:
%load_ext sql
%config SqlMagic.autocommit=False # for engines that do not support autommit

In [14]:
%%sql sqlite:///Northwind2016.sqlite

select name from sqlite_master where type = 'table'

Done.

[('dbo.Categories',),
 ('dbo.Suppliers',),
 ('dbo.Orders',),
 ('dbo.OrderDetails',),
 ('dbo.Shippers',),
 ('dbo.Products',),
 ('dbo.CustomerGroupThresholds',),
 ('dbo.Employees',),
 ('dbo.sysdiagrams',),
 ('dbo.Customers',)]

## 1. Which shippers do we have?
We have a table called Shippers. Return all the fields
from all the shippers

In [16]:
%%sql sqlite:///Northwind2016.sqlite

select * from 'dbo.Shippers'

Done.

[('1', 'Speedy Express', '(503) 555-9831'),
 ('2', 'United Package', '(503) 555-3199'),
 ('3', 'Federal Shipping', '(503) 555-9931')]

## 2. Certain fields from Categories
In the Categories table, selecting all the fields using
this SQL:
Select * from Categories
…will return 4 columns. We only want to see two
columns, CategoryName and Description.

In [18]:
%%sql sqlite:///Northwind2016.sqlite

    
SELECT CategoryName, Description from 'dbo.Categories'

Done.

[('Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
 ('Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
 ('Confections', 'Desserts, candies, and sweet breads'),
 ('Dairy Products', 'Cheeses'),
 ('Grains/Cereals', 'Breads, crackers, pasta, and cereal'),
 ('Meat/Poultry', 'Prepared meats'),
 ('Produce', 'Dried fruit and bean curd'),
 ('Seafood', 'Seaweed and fish')]

## 3. Sales Representatives
We’d like to see just the FirstName, LastName, and
HireDate of all the employees with the Title of Sales
Representative. Write a SQL statement that returns
only those employees.

In [20]:
%%sql sqlite:///Northwind2016.sqlite

SELECT FirstName, LastName, HireDate FROM 'dbo.Employees'

Done.

[('Nancy', 'Davolio', '2010-05-01 00:00:00'),
 ('Andrew', 'Fuller', '2010-08-14 00:00:00'),
 ('Janet', 'Leverling', '2010-04-01 00:00:00'),
 ('Margaret', 'Peacock', '2011-05-03 00:00:00'),
 ('Steven', 'Buchanan', '2011-10-17 00:00:00'),
 ('Michael', 'Suyama', '2011-10-17 00:00:00'),
 ('Robert', 'King', '2012-01-02 00:00:00'),
 ('Laura', 'Callahan', '2012-03-05 00:00:00'),
 ('Anne', 'Dodsworth', '2012-11-15 00:00:00')]